@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css);

:root {
	--ivory: #FBFFF1;
	--blue-light: #B4C5E4;
	--strato-blue: #0066FF;
	--blue-dark: #0047B3;
	--blue-darker: #002966;
	--dark: #3C3744;
}

* {
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

a {
	color: var(--dark);
	transition: .3s ease-in-out;
	text-decoration: none;
	background: linear-gradient(to bottom, var(--strato-blue) 0%, var(--strato-blue) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 4px;
}

a:hover {
	color: var(--dark);
	text-decoration: none;
}

h1 {

}

h2 {
	color: white;
	text-align: center;
	margin: 20px 0;
	font-size: 35px;
}

/* header */

header {
	background: none;
	height: 45px;
}

.header-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.header-menu li {
	display: inline;
}

.header-menu a {
	color: var(--ivory);
}

.header-menu a:hover {
	text-decoration: underline;
}

/* sekce welcome */

/* sekce primary */

/* sekce secodary */

/* sekce team */

.team img {
	width: 100%;
}

/* sekce sponsors */

/* sekce social */